.placeholder{
  background-image: url("") !important;
  background-size: 100% 100%;
  background-position: center;
  display: block;
  width: 320px;
  height: 82px;
  -webkit-transition: height 2s, width 2s;
  margin-left: 0px;
}
.logo{
  background-image: url("https://github.com/First-Capital-Web-Design/FCRE-site-3/blob/gh-pages/images/logo4.png?raw=true") !important;
  background-size: 100% 100%;
  background-position: center;
  display: block;
  width: 331px;
  height: 110px;
  -webkit-transition: height 2s, width 2s, background-image .2s;
  margin-left: 0px;
  position: absolute;
  left: 50px;
  top:0px;
  z-index: 4;
}
header{
  position: relative;
  z-index: 2;
  border-bottom: 2px solid #154b87;
}
.home-image{
  position: absolute;
  z-index: -2;
  width: 100vw;
  background-image: url('https://github.com/First-Capital-Web-Design/FCRE-site-3/blob/gh-pages/images/home-image-lines-blue.jpg?raw=true');
  background-size: auto 67vw;
  height: calc(100vh - 110px);
  background-position: 0% 50%;
  background-repeat: no-repeat;
}
.home-line{
  position: fixed;
  right: 0;
  top: 55vh;
  background-image: url('https://github.com/First-Capital-Web-Design/FCRE-site-2/blob/gh-pages/images/home-line1.png?raw=true');
  background-size: 38vw auto;
  background-repeat: no-repeat;
  width: 38vw;
  height: 60vh;
}
.slider-button{
  width: 60px;
  height: 60px;
  position: absolute;
  left: 50%;
  margin-left: -30px;
  top: -60px;
  border-radius: 10px 10px 0 0;
  -webkit-transition: all 1.5s ease-out;
  opacity: .83;
}
.slided{
  bottom: 0px !important;
}
  .info-button-container{
    position: absolute;
    left: 50px;
    top: 110px;
    width: 331px;
    height: 32px;
    overflow: hidden;
    -webkit-transition: top 1.5s;
    z-index: 2;
    border: 2px solid #154b87;
    border-top: 0;
    box-sizing: border-box;
    background-color: #154b87;
  }
.info-button{
  width: auto;
  padding: 0 10px;
  font-size: 18px;
  color: white;
  background-color: #154b87;
  text-align: center;
  float: left;
  z-index: 2;
  position: relative;
  cursor: pointer;
}
.info-button-active{
  color: orange;
}
.info-button:hover{
  color: orange;
}
.info-button + .info-button{
  border-left: 1px solid white;
}
.info-content{
  width: 331px;
  height: auto;
  position: absolute;
  left: 50px;
  top: -270px;
  z-index: 1;
  text-align: left;
  background-color: white;
  color: #162659;
  padding: 40px 20px 10px 20px;
  font-size: 17px;
  line-height: 25px;
  -webkit-transition: top 1.5s;
  border: 2px solid #162659;
}
.info-content-slided{
  top: 110px;
}
.visible{
  display: block;
}
.page-footer{
  -webkit-transition: bottom 1.5s;
}
.rotated {
    -webkit-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    -o-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    transform: rotate(180deg);
}
dl{
  margin-bottom: 5px;
}
dl a{
  color: white;
}
@media (min-width: 1000px) {
  #fh5co-main-nav{
    margin-right: 0px !important;
    margin-top: -115px;
    float: right!important;
    position: relative;
  }
  header{
    padding-top: 10px;
    padding-bottom: 0;
    height: 110px;
  }
}
@media (max-width: 999px) {
  .logo{
    margin-left: calc(50% - 136px);
    top: 10px;
    left: 0;
    width: 272px;
    height: 90px;
  }
  header{
    height: 150px;
    padding-top:0;
  }
  .info-button-container{
    top: 150px;
    left: calc(50vw - 166px);
  }

  .fh5co-navbar-brand{
    padding-bottom: 10px !important;
  }
  .info-content{
    left: calc(50vw - 166px);
  }
  .info-content-slided{
    top: 150px;
    left: calc(50vw - 166px);
  }

  .home-image{
    height: calc(100vh - 150px) !important;
    background-size: auto 100vh !important;
    background-position: center;
    width: 100vw;
    padding: 0;
    margin: 0;
  }

  .home-line{
    position: fixed;
    right: 0;
    top: 50vh;
    background-image: url('https://github.com/First-Capital-Web-Design/FCRE-site-2/blob/gh-pages/images/home-line1.png?raw=true');
    background-size: 50vw auto;
    background-repeat: no-repeat;
    width: 50vw;
    height: 60vh;
  }

}

@media (max-width: 767px) {
  .home-footer{
    height: 450px !important;
  }

  .page-footer{
    bottom: -450px !important;
   }

   .slided{
     bottom: 0px !important;
   }

}

@media (min-width: 568px) {

  .mobile-nav{
    display: none !important;
  }

}

@media (max-width: 568px) {

  header #fh5co-main-nav > ul li {
    display: block;
    margin-left: 0;
    margin-bottom: 0px;
    font-size: 15px;
  }

  .info-button-container{
    left:0;
    width: 100%;
    height: 24px;
    top: 100px;
  }

  .info-button{
    width: 33vw;
    font-size: 15px;
    padding: 0 15px;
  }

  .info-content{
    left:0;
    width: 100vw;
  }

  header{
    padding-top: 20px;
    width: 100vw;
    padding-bottom: 20px;
    height: 118px;
  }

  .logo{
    margin-left: calc(50% - 136px);
    left: 0;
    width: 272px;
    height: 90px;
  }

  header .fh5co-navbar-brand {
    padding-bottom: 0;
  }

  .home-image{
    height: calc(100vh - 120px) !important;
    background-size: auto 100vh !important;
    width: 100vw;
    padding: 0;
    margin: 0;
  }

  .home-image-text{
    font-size: 35px !important;
  }

  body{
    width: 100%;
    overflow-x: hidden;
  }

  .info-content-slided{
    top: 90px;
  }

  .info-content{
    font-size: 14px;
     line-height: 18px;
  }

  .mobile-nav{
    display: block;
    position: absolute;
    right: 25px;
    top: 25px;
    width: 20px;
    height: 20px;
    z-index: 6;
  }

  #fh5co-main-nav {
    overflow: hidden;
    height: 10px;
    -webkit-transition: height 1.5s;
    background-color: white !important;
    width: 100%;
    z-index: 10;
  }
  .container{
    padding: 0;
  }
  .nav-active{
    height: 132px !important;
  }
  .nav-info-active{
    top: 220px !important;
  }

  .fh5co-table, .fh5co-table-cell, .fh5co-hero, .fh5co-parallax{
    height: 440px !important;
  }

  .page-footer h3 {
    font-size: 15px;
    line-height: 0;
 }

 .page-footer{
   height: auto !important;
   bottom: -420px !important;
   padding: 40px 10% !important;
  }

 .slided{
   bottom: 0px !important;
 }

 .list-terms{
   font-size: 15px;
}

 .mobile-footer-text{
   font-size: 14px;
 }
 .contact-mobile{
   display: none;
 }

.contact-mobile-second{
  margin-top: 0 !important;
}

.center-banner {
  margin-top: -135px !important;
}

.home-line{
  position: fixed;
  right: 0;
  top: 40vh;
  background-image: url('https://github.com/First-Capital-Web-Design/FCRE-site-2/blob/gh-pages/images/home-line1.png?raw=true');
  background-size: 80vw auto;
  background-repeat: no-repeat;
  width: 80vw;
  height: 60vh;
}

}
